html {
  font-family: "Arial", sans-serif;
  background-color: #EEF5FF;
  color: #176B87;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  html body {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    margin: 0;
  }
  html body .mobile {
    display: none;
  }
  html body header {
    background-color: #B4D4FF;
    border-bottom: 0.5px solid #86B6F6;
    height: 7.6923076923vh;
    margin: 0;
    display: flex;
  }
  html body header .title {
    display: flex;
    align-items: center;
    height: 100%;
    width: 35vw;
    margin: 0;
  }
  html body header .title h2 {
    margin: 0;
    padding-left: 2.5vw;
  }
  html body header nav {
    height: 100%;
    width: 62.5vw;
    margin: 0;
    padding-right: 2.5vw;
  }
  html body header nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  html body header nav ul li {
    display: flex;
    justify-content: center;
    width: 10.625vw;
    margin: 0;
    padding: 0;
  }
  html body header nav ul li a:hover,
  html body header nav ul li a:visited,
  html body header nav ul li a:link,
  html body header nav ul li a:active {
    text-decoration: none;
    color: inherit;
  }
  html body main {
    display: flex;
  }
  html body main aside {
    height: 92.3076923077vh;
    width: 35vw;
  }
  html body main aside .image {
    height: 46.1538461538vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  html body main aside .image img {
    max-width: 85%;
    height: 85%;
    border-radius: 50%;
  }
  html body main aside .bio {
    height: 30.7692307692vh;
    display: flex;
    align-items: center;
  }
  html body main aside .bio .bio-content {
    font-style: italic;
    padding: 0 2.5vw;
  }
  html body main aside .info {
    height: 15.3846153846vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  html body main aside .info .link {
    display: flex;
    width: 10.625vw;
    height: 7.6923076923vh;
  }
  html body main aside .info .link a img {
    width: 75%;
    height: 75%;
  }
  html body main .main-content {
    width: 65vw;
    display: flex;
    flex-direction: column;
    padding: 2.5vw;
  }
  html body main .main-content .content-section {
    display: flex;
    width: 60vw;
    height: 15.3846153846vh;
    margin-bottom: 5.7692307692vh;
    align-items: center;
  }
  html body main .main-content .content-section a:hover,
  html body main .main-content .content-section a:visited,
  html body main .main-content .content-section a:link,
  html body main .main-content .content-section a:active {
    text-decoration: none;
    color: inherit;
  }
  html body main .main-content .content-section .content-box {
    height: 100%;
    width: 13.75vw;
  }
  html body main .main-content .content-section .content-box .content-title {
    height: 3.8461538462vh;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  html body main .main-content .content-section .content-box .content-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  html body main .main-content .content-section .content-box .content-image img {
    height: 100%;
    width: 100%;
    border: 0.05em solid #176B87;
  }
  html body main .main-content .content-section .content-box .content-image .small-img {
    height: 50%;
    width: 50%;
    border: none;
  }
  html body main .main-content .content-section .content-description {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2.5vw;
  }
  html body main .main-content .content-section .skills {
    align-items: end;
  }
  html body main .main-content .contact-form {
    display: flex;
    flex-direction: column;
    padding-left: 18.75vw;
  }
  html body main .main-content .contact-form form {
    display: flex;
    flex-direction: column;
    width: 21.875vw;
  }
  html body main .main-content .contact-form form label {
    height: 3.8461538462vh;
    padding-left: 1.25vw;
    margin-top: 3.8461538462vh;
    background-color: #B4D4FF;
    align-content: center;
  }
  html body main .main-content .contact-form form textarea {
    height: 15.3846153846vh;
    resize: none;
  }
  html body main .main-content .contact-form form button {
    width: 13.75vw;
    height: 7.6923076923vh;
    margin-top: 3.8461538462vh;
    align-self: center;
    background-color: #86B6F6;
    border: none;
    color: white;
  }
  html body main .main-content * {
    box-sizing: border-box;
  }
  html body main .main-content .timeline {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  html body main .main-content .timeline article {
    position: relative;
    background: #B4D4FF;
    width: calc(50% - 40px);
    padding: 5px;
  }
  html body main .main-content .timeline article h5, html body main .main-content .timeline article h3, html body main .main-content .timeline article p {
    margin: 0;
  }
  html body main .main-content .timeline article:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: calc(100% + 26px);
    background: #86B6F6;
    width: 24px;
    height: 24px;
    border: 6px #B4D4FF solid;
    border-radius: 50%;
    z-index: 2;
  }
  html body main .main-content .timeline article:after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 16px solid #B4D4FF;
    border-bottom: 20px solid transparent;
  }
  html body main .main-content .timeline article:nth-child(even) {
    margin-left: calc(50% + 48px);
  }
  html body main .main-content .timeline article:nth-child(even):before {
    left: auto;
    right: calc(100% + 26px);
  }
  html body main .main-content .timeline article:nth-child(even):after {
    left: auto;
    right: 100%;
    border-left: none;
    border-right: 16px solid #B4D4FF;
  }
  html body main .main-content .timeline:after {
    content: "";
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 50%;
    width: 8px;
    background: #B4D4FF;
    border-radius: 3px;
    z-index: 1;
  }
}
@media (max-width: 768px) {
  html body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: #EEF5FF;
  }
  html body .browser {
    display: none;
  }
  html body header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B4D4FF;
    border-bottom: 0.5px solid #86B6F6;
    height: 6.25vh;
  }
  html body header h2 {
    margin: 0;
  }
  html body main {
    height: 62.5vh;
  }
  html body main .top {
    height: 37.5vh;
  }
  html body main .top .image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18.75vh;
  }
  html body main .top .image img {
    max-width: 75%;
    height: 75%;
    border-radius: 50%;
  }
  html body main .top .bio {
    height: 18.75vh;
  }
  html body main .top .bio .bio-content {
    font-style: italic;
    padding: 4vw;
  }
  html body main .bottom {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  html body main .bottom .content-section {
    display: flex;
    width: calc(100vw - 8vh);
    height: 12.5vh;
  }
  html body main .bottom .content-section a:hover,
  html body main .bottom .content-section a:visited,
  html body main .bottom .content-section a:link,
  html body main .bottom .content-section a:active {
    text-decoration: none;
    color: inherit;
  }
  html body main .bottom .content-section .content-box-sx {
    height: 100%;
    width: 40vw;
  }
  html body main .bottom .content-section .content-box-sx .content-image {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  html body main .bottom .content-section .content-box-sx .content-image img {
    height: 100%;
    width: 100%;
    border: 0.05em solid #176B87;
  }
  html body main .bottom .content-section .content-box-sx .content-image .small-img {
    height: 50%;
    width: 50%;
    border: none;
  }
  html body main .bottom .content-section .content-box-dx {
    width: 52vw;
    padding: 0 2.5vw;
  }
  html body main .bottom .content-section .content-box-dx .content-title {
    height: 3.125vh;
    width: 100%;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  html body main .bottom .content-section .content-box-dx .content-description {
    height: 9.375vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  html body main .bottom .skill-section {
    display: flex;
    height: 9.375vh;
    width: 92vw;
    margin-bottom: 3.125vh;
    align-items: center;
    justify-content: center;
  }
  html body main .bottom .skill-section .skill-sx {
    width: 32vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  html body main .bottom .skill-section .skill-sx .skill-title {
    height: 3.125vh;
  }
  html body main .bottom .skill-section .skill-sx .skill-image img {
    height: 6.25vh;
    width: 100%;
  }
  html body main .bottom .skill-section .skill-dx {
    width: 62vw;
    padding-left: 2vw;
    height: 100%;
    align-content: center;
  }
  html body main .bottom .skill-section .skill-dx ul {
    margin: 0;
    padding: 0;
  }
  html body main .bottom .contact-form {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  html body main .bottom .contact-form strong {
    margin-left: 4vw;
  }
  html body main .bottom .contact-form form {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  html body main .bottom .contact-form form label {
    margin: 0 4vw;
    padding-left: 4vw;
    margin-top: 1.5625vh;
    background-color: #B4D4FF;
    align-content: center;
  }
  html body main .bottom .contact-form form input,
  html body main .bottom .contact-form form textarea {
    margin: 0 4vw;
    padding: 2vw;
    font-size: 3.3333333333vw;
  }
  html body main .bottom .contact-form form textarea {
    height: 12.5vh;
    resize: none;
  }
  html body main .bottom .contact-form form button {
    margin-top: 3.125vh;
    padding: 2vw;
    background-color: #86B6F6;
    border: none;
    color: white;
    font-size: 3.3333333333vw;
    align-self: center;
    width: 28vw;
  }
  html body main .bottom .timeline {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  html body main .bottom .timeline article {
    position: relative;
    background: #B4D4FF;
    width: calc(50% - 40px);
    padding: 5px;
  }
  html body main .bottom .timeline article h5, html body main .bottom .timeline article h3, html body main .bottom .timeline article p {
    margin: 0;
  }
  html body main .bottom .timeline article:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: calc(100% + 26px);
    background: #86B6F6;
    width: 24px;
    height: 24px;
    border: 6px #B4D4FF solid;
    border-radius: 50%;
    z-index: 2;
  }
  html body main .bottom .timeline article:after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 16px solid #B4D4FF;
    border-bottom: 20px solid transparent;
  }
  html body main .bottom .timeline article:nth-child(even) {
    margin-left: calc(50% + 48px);
  }
  html body main .bottom .timeline article:nth-child(even):before {
    left: auto;
    right: calc(100% + 26px);
  }
  html body main .bottom .timeline article:nth-child(even):after {
    left: auto;
    right: 100%;
    border-left: none;
    border-right: 16px solid #B4D4FF;
  }
  html body main .bottom .timeline:after {
    content: "";
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 50%;
    width: 8px;
    background: #B4D4FF;
    border-radius: 3px;
    z-index: 1;
  }
  html body main .scrollable {
    overflow-y: auto;
  }
  html body .footer {
    height: 6.25vh;
  }
  html body .footer nav {
    height: 100%;
    margin: 0;
    background-color: #B4D4FF;
    border-top: 0.5px solid #86B6F6;
  }
  html body .footer nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  html body .footer nav ul li {
    display: flex;
    justify-content: center;
    width: 24vw;
    margin: 0;
    padding: 0;
  }
  html body .footer nav ul li a:hover,
  html body .footer nav ul li a:visited,
  html body .footer nav ul li a:link,
  html body .footer nav ul li a:active {
    text-decoration: none;
    color: inherit;
  }
}

/*# sourceMappingURL=styles.css.map */
