//sass styles.scss styles.css
$base-color: #EEF5FF;
$primary-color: #86B6F6;
$secondary-color: #B4D4FF;
$font-color: #176B87;

html {
    font-family: 'Arial', sans-serif;
    background-color: $base-color;
    color: $font-color;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    @media (min-width: 768px) {

        body {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100vh;
            margin: 0;

            .mobile {
                display: none;
            }

            header {
                background-color: $secondary-color;
                border-bottom: 0.5px solid $primary-color;
                height: calc(100vh / 13);
                margin: 0;
                display: flex;

                .title {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    width: calc(100vw / (1280/((72 * 4) + (32 * 5))));
                    margin: 0;

                    h2 {
                        margin: 0;
                        padding-left: calc(100vw / (1280 / 32));
                    }
                }

                nav {
                    height: 100%;
                    width: calc(100vw / (1280/((72 * 8) + (32 * 7))));
                    margin: 0;
                    padding-right: calc(100vw / (1280 / 32));

                    ul {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        height: 100%;
                        margin: 0;
                        padding: 0;
                        list-style-type: none;

                        li {
                            display: flex;
                            justify-content: center;
                            width: calc(100vw / (1280/((72 + (32 * 2)))));
                            margin: 0;
                            padding: 0;

                            a:hover,
                            a:visited,
                            a:link,
                            a:active {
                                text-decoration: none;
                                color: inherit;
                            }
                        }
                    }
                }
            }

            main {
                display: flex;

                aside {
                    height: calc(100vh - (100vh / 13));
                    width: calc(100vw / (1280/((72 * 4) + (32 * 5))));

                    .image {
                        height: calc(100vh / 13) * 6;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            max-width: 85%;
                            height: 85%;
                            border-radius: 50%;
                        }
                    }

                    .bio {
                        height: calc(100vh / 13) * 4;
                        display: flex;
                        align-items: center;

                        .bio-content {
                            font-style: italic;
                            padding: 0 calc(100vw / (1280 / 32));
                        }
                    }

                    .info {
                        height: calc(100vh / 13) * 2;
                        display: flex;
                        align-items: flex-end;
                        justify-content: center;

                        .link {
                            display: flex;
                            width: calc(100vw / (1280/((72 + (32 * 2)))));
                            height: calc(100vh / 13);

                            a img {
                                width: 75%;
                                height: 75%;
                            }
                        }
                    }
                }

                .main-content {
                    width: calc(100vw / (1280/((72 * 8) + (32 * 8))));
                    display: flex;
                    flex-direction: column;
                    padding: calc(100vw / (1280/32));

                    .content-section {
                        display: flex;
                        width: calc(100vw / (1280/((72 * 8) + (32 * 6))));
                        height: calc((100vh / 13) * 2);
                        margin-bottom: calc((100vh / 13) * 0.75);
                        align-items: center;

                        a:hover,
                        a:visited,
                        a:link,
                        a:active {
                            text-decoration: none;
                            color: inherit;
                        }

                        .content-box {
                            height: 100%;
                            width: calc(100vw / (1280/(((72 * 2) + 32))));

                            .content-title {
                                height: calc((100vh / 13) / 2);
                                font-weight: bold;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }

                            .content-image {
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                img {
                                    height: 100%;
                                    width: 100%;
                                    border: 0.05em solid $font-color;
                                }

                                .small-img {
                                    height: 50%;
                                    width: 50%;
                                    border: none;
                                }
                            }
                        }

                        .content-description {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 0 calc(100vw / (1280/32));
                        }

                        .skills {
                            align-items: end;
                        }
                    }

                    .contact-form {
                        display: flex;
                        flex-direction: column;
                        padding-left: calc(100vw / (1280/((72 * 2) + (32 * 3))));

                        form {
                            display: flex;
                            flex-direction: column;
                            width: calc(100vw / (1280/(((72 * 3) + (32 * 2)))));

                            label {
                                height: calc((100vh / 13) / 2);
                                padding-left: calc(100vw / (1280/16));
                                margin-top: calc((100vh / 13) / 2);
                                background-color: $secondary-color;
                                align-content: center;
                            }

                            textarea {
                                height: calc((100vh / 13) * 2);
                                resize: none;
                            }

                            button {
                                width: calc(100vw / (1280/(((72 * 2) + (32)))));
                                height: calc(100vh / 13);
                                margin-top: calc((100vh / 13) / 2);
                                align-self: center;
                                background-color: $primary-color;
                                border: none;
                                color: white;
                            }
                        }
                    }

                    * {
                        box-sizing: border-box;
                    }

                    .timeline {
                        position: relative;
                        width: 100%;
                        margin: 0 auto;

                        article {
                            position: relative;
                            background: $secondary-color;
                            width: calc(50% - 40px);
                            padding: 5px;

                            h5, h3, p {
                                margin: 0;
                            }
                        }

                        article:before {
                            content: "";
                            display: block;
                            position: absolute;
                            top: 0;
                            left: calc(100% + 26px);
                            background: $primary-color;
                            width: 24px;
                            height: 24px;
                            border: 6px $secondary-color solid;
                            border-radius: 50%;
                            z-index: 2;
                        }

                        article:after {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 100%;
                            width: 0;
                            height: 0;
                            border-top: 20px solid transparent;
                            border-left: 16px solid $secondary-color;
                            border-bottom: 20px solid transparent;
                        }

                        article:nth-child(even) {
                            margin-left: calc(50% + 48px);
                        }

                        article:nth-child(even):before {
                            left: auto;
                            right: calc(100% + 26px);
                        }

                        article:nth-child(even):after {
                            left: auto;
                            right: 100%;
                            border-left: none;
                            border-right: 16px solid $secondary-color;
                        }
                    }

                    .timeline:after {
                        content: "";
                        position: absolute;
                        top: 20px;
                        bottom: 20px;
                        left: 50%;
                        width: 8px;
                        background: $secondary-color;
                        border-radius: 3px;
                        z-index: 1;
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {

        body {
            display: flex;
            flex-direction: column;
            padding: 0;
            margin: 0;
            background-color: $base-color;

            .browser {
                display: none;
            }

            header {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $secondary-color;
                border-bottom: 0.5px solid $primary-color;
                height: calc(100vh / 16);

                h2 {
                    margin: 0;
                }
            }

            main {
                height: calc((100vh / 16) * 10);

                .top {
                    height: calc((100vh / 16) * 6);

                    .image {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: calc((100vh / 16) * 3);

                        img {
                            max-width: 75%;
                            height: 75%;
                            border-radius: 50%;
                        }
                    }

                    .bio {
                        height: calc((100vh / 16) * 3);

                        .bio-content {
                            font-style: italic;
                            padding: calc(100vw / 25);
                        }
                    }
                }

                .bottom {
                    height: calc((100vh / 16) * 8);
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;

                    .content-section {
                        display: flex;
                        width: calc(100vw - ((100vh / 25) * 2));
                        height: calc((100vh / 16) * 2);

                        a:hover,
                        a:visited,
                        a:link,
                        a:active {
                            text-decoration: none;
                            color: inherit;
                        }

                        .content-box-sx {
                            height: 100%;
                            width: calc((100vw / 25) * 10);

                            .content-image {
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;

                                img {
                                    height: 100%;
                                    width: 100%;
                                    border: 0.05em solid $font-color;
                                }

                                .small-img {
                                    height: 50%;
                                    width: 50%;
                                    border: none;
                                }
                            }
                        }

                        .content-box-dx {
                            width: calc((100vw / 25) * 13);
                            padding: 0 calc(100vw / (1280/32));

                            .content-title {
                                height: calc((100vh / 16) * 0.5);
                                width: 100%;
                                font-weight: bold;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                            }

                            .content-description {
                                height: calc((100vh / 16) * 1.5);
                                width: 100%;
                                display: flex;
                                justify-content: flex-start;
                                align-items: flex-start;
                            }
                        }
                    }

                    .skill-section {
                        display: flex;
                        height: calc((100vh / 16) * 1.5);
                        width: calc(100vw - ((100vw / 25) * 2));
                        margin-bottom: calc((100vh / 16) / 2);
                        align-items: center;
                        justify-content: center;

                        .skill-sx {
                            width: calc((100vw / 25) * 8);
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            .skill-title {
                                height: calc((100vh / 16) * 0.5);
                            }

                            .skill-image img {
                                height: calc(100vh / 16);
                                width: 100%;
                            }
                        }

                        .skill-dx {
                            width: calc((100vw / 25) * 15.5);
                            padding-left: calc((100vw / 25) * 0.5);
                            height: 100%;
                            align-content: center;

                            ul {
                                margin: 0;
                                padding: 0;
                            }
                        }
                    }

                    .contact-form {
                        display: flex;
                        flex-direction: column;
                        width: calc(100vw);

                        strong {
                            margin-left: calc(100vw / 25);
                        }

                        form {
                            display: flex;
                            flex-direction: column;
                            width: calc(100vw);

                            label {
                                margin: 0 calc(100vw / 25);
                                padding-left: calc(100vw / 25);
                                margin-top: calc((100vh / 16) / 4);
                                background-color: $secondary-color;
                                align-content: center;
                            }

                            input,
                            textarea {
                                margin: 0 calc(100vw / 25);
                                padding: calc(100vw / 50);
                                font-size: calc(100vw / 30);
                            }

                            textarea {
                                height: calc((100vh / 16) * 2);
                                resize: none;
                            }

                            button {
                                margin-top: calc((100vh / 16) / 2);
                                padding: calc(100vw / 50);
                                background-color: $primary-color;
                                border: none;
                                color: white;
                                font-size: calc(100vw / 30);
                                align-self: center;
                                width: calc((100vw / 25) * 7);
                            }
                        }
                    }

                    .timeline {
                        position: relative;
                        width: 100%;
                        margin: 0 auto;

                        article {
                            position: relative;
                            background: $secondary-color;
                            width: calc(50% - 40px);
                            padding: 5px;

                            h5, h3, p {
                                margin: 0;
                            }
                        }

                        article:before {
                            content: "";
                            display: block;
                            position: absolute;
                            top: 0;
                            left: calc(100% + 26px);
                            background: $primary-color;
                            width: 24px;
                            height: 24px;
                            border: 6px $secondary-color solid;
                            border-radius: 50%;
                            z-index: 2;
                        }

                        article:after {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 100%;
                            width: 0;
                            height: 0;
                            border-top: 20px solid transparent;
                            border-left: 16px solid $secondary-color;
                            border-bottom: 20px solid transparent;
                        }

                        article:nth-child(even) {
                            margin-left: calc(50% + 48px);
                        }

                        article:nth-child(even):before {
                            left: auto;
                            right: calc(100% + 26px);
                        }

                        article:nth-child(even):after {
                            left: auto;
                            right: 100%;
                            border-left: none;
                            border-right: 16px solid $secondary-color;
                        }
                    }

                    .timeline:after {
                        content: "";
                        position: absolute;
                        top: 20px;
                        bottom: 20px;
                        left: 50%;
                        width: 8px;
                        background: $secondary-color;
                        border-radius: 3px;
                        z-index: 1;
                    }
                }

                .scrollable {
                    overflow-y: auto;
                }
            }

            .footer {
                height: calc(100vh / 16);


                nav {
                    height: 100%;
                    margin: 0;
                    background-color: $secondary-color;
                    border-top: 0.5px solid $primary-color;

                    ul {
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        height: 100%;
                        width: 100%;
                        margin: 0;
                        padding: 0;
                        list-style-type: none;

                        li {
                            display: flex;
                            justify-content: center;
                            width: calc((100vw / 25) * 6);
                            margin: 0;
                            padding: 0;

                            a:hover,
                            a:visited,
                            a:link,
                            a:active {
                                text-decoration: none;
                                color: inherit;
                            }
                        }
                    }
                }
            }
        }
    }
}